<html>
    <head>
        <link type="text/css" rel="stylesheet" href="homeStyles.css">
    </head>
    <body>
        <!-- Devise a way to include header page-->
        <div id="header">
            <h1>Voice Of Sudhnoti</h1>
        </div>

        <!-- TODO 
        When the user clicks on any of the pages the relevant posts 
        should open in circles about the page like this
        http://jsfiddle.net/y2UYX/1/
        -->
        <div class="tabs">
            <div class="pageLink"> <span>Home</span></div>
            <div class="pageLink"><span>Art & Craft</span></div>
        </div>
        <div class="tabs">
            <div class="pageLink"><span>Azad Kashmir</span></div>
            <div class="pageLink"><span>Islam</span></div>
        </div>
        <div class="tabs">
            <div class="pageLink"><span>Saudi Arabia</span></div>
            <div class="pageLink"><span>Pakistan</span></div>
        </div>
        <div class="tabs">
            <div class="pageLink"><span>Studies</span></div>
            <div class="pageLink"><span>Society & Lifestyle</span></div>
        </div>
        <div class="tabs">
            <div class="pageLink"><span>Travel</span></div>
            <div class="pageLink"><span>Recipes</span></div>
        </div>
    </body>
</html>