body{
 background:#ffffcc;
}
#wrapper{
	width: 950px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	border:2px solid black;
	background-color: grey;
}
#header{
	width:100%;
	height:100px;
	background:#ccaa66;
	text-align:center;
	clear: both;
	border-bottom:2px solid black;
}
#header h1{
	display: inline-block;
	vertical-align: middle;
	font-family: Verdana, Helvetica, sans-serif;
	color:#330000;
}
#menu {
	width: 20%;
	height: 320px;
	background: #E8D882;
	float: left;
	text-align:center;
}
#menu a {
	margin:10px;
	text-decoration: none;
	display: block;
	font-family: Verdana, Helvetica, sans-serif;
}
#content{
	width: 80%;
	height: 320px;
	background: #f1e8b0;
	float: left;
}
#content p{
	color:#330000;
	padding-left:10px;
	font-family: Verdana, Helvetica, sans-serif;
}
#content ul{
	color:#330000;
	font-family: Verdana, Helvetica, sans-serif;
}
#content img{
	float:right;
	padding-right:10px;
}
#footer{
	width: 100%;
	height:100px;
	background:#ccaa66;
	clear: both;
	text-align:center;
	border-top:2px solid black;
}
#footer p{
	display: inline-block;
	vertical-align: middle;
	color:#330000;
	font-family: Verdana, Helvetica, sans-serif;
}